
.container 
{
    width: 500px;
    height: 450px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}
#one{
    color: white;
    font-size: 45px;
}
#two{
    color: white;
    font-size: 120px;
    margin-top: 30px;
}
#three{
    color: black;
}
#four{
    background-color:black ;
    color: white;
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 140px 15px 15px 200px;
  

    
}
